.page {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
}


/* .coverpage {
    width: 90%;
    background-color: rgb(36, 36, 35);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 900px;
    height: 90%;
    max-height: 900px;
} */

h1, h2{
    text-align: center;
    text-justify: auto;
    color: rgb(143, 31, 31);
}

img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}