* {
    padding: 0.6vh;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.page {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

h2{
    text-align: center;
    text-justify: auto;
    color: blanchedalmond;
    padding-bottom: 20;
}

h1{
    font-weight: bolder;
}

figcaption {
    padding: 0;
} 

img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50%;
}

li {
    list-style-position: inside;
    padding: 0.7em;
}
.description {
    margin-top: 11vh;
    margin-bottom: auto;
    border: 1px solid #7a2727;
    border-radius: 20px;
    padding: 20px;
    background-color: #7a2727;
    color: blanchedalmond;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.instructions {
    display: flex;
    justify-self: center;
}

.instructions > * {
    flex-basis: 100%;
}

.cooking {
    border: 1px solid #7a2727;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    line-height: 22px;
    background-color: #7a2727;
    color: blanchedalmond; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    text-align: center;
    text-justify: auto;
    background-color: #7a2727;
    color: blanchedalmond;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


@media screen and (max-width: 480px) {
    .heading {
        font-size: 14px;
        max-height: 6rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    h2 {
        font-size: 12xpx;
    }

    .description {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .page {
        padding-top: 50px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 30px;
    }

    figcaption {
        padding-bottom: 10px;
    } 
    
    img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        padding-top: 20px;
        padding-bottom:10px;
    }
    
    .instructions {
        display: flex;
        flex-direction: column;
        justify-self: center;
        max-width: 320px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;

    }

    .cooking {
        margin-bottom: 20px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .instructions > * {
        flex-basis: 0;
    }
}

