* {
    padding: 0.6vh;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.page {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    margin-top: auto;
    margin-bottom: auto;

    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}


/* .coverpage {
    width: 90%;
    background-color: rgb(36, 36, 35);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 900px;
    height: 90%;
    max-height: 900px;
} */

h1, h2{
    text-align: center;
    text-justify: auto;
    color: rgb(143, 31, 31);
}

h1{
    font-weight: bolder;
}

figcaption {
    padding: 0;
} 

img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .page {
        padding-top: 50px;
        padding-left: 13%;
        padding-right: 13%;
        padding-bottom: 30px;
    }

    figcaption {
        padding-bottom: 10px;
    } 
    
    img {
        width: 32vh;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        padding-top: 20px;
        padding-bottom:10px;
    }
}

@media (min-width: 1025) and (max-width: 1440px) {
    .page {
        padding-top: 50px;
        padding-left: 9%;
        padding-right: 9%;
        padding-bottom: 30px;
    }

    img {
        width: 10vh;
        margin-left: auto;
        margin-right: auto;
        display: flexbox;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}